<div class="post-container" id="post-<%= post.id %>">
  <div class="author">
    <span><%= post.user.first_name %></span>
    <br><small><%= post.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    <p><%= post.post %></p>
    <%= link_to "Comment", room_post_path(post) %>
  </div>
</div>
